div.modal.chat-request-modal {
    width: 90%;
    height: 90%;
}

div.modal.chat-request-modal div.modal-content {
    position: relative;
    height: calc(100% - 110px);
}

div.modal.chat-request-modal div.chat-result-container {
    background-color: var(--background-dark);
    border: 1px solid var(--tab-outline-color);
    min-height: 100px;
    height: calc(100% - 110px);
    padding: 1rem;
    border-radius: 10px;
    overflow-y: auto;
}

div.modal.chat-request-modal div.chat-result-container div.response {
    margin-bottom: 1rem;
}

div.modal.chat-request-modal .chat-button-container {
    position: absolute;
    bottom: 1rem;
    width: 100%;
}

div.modal.chat-request-modal .chat-button-container .chat-copy-all-button,
div.modal.chat-request-modal .chat-button-container .chat-copy-button {
    float: right;
    margin-left: 1rem;
}